/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Inter), sans-serif;
  font-variation-settings: "wght" var(--normal);
  color: var(--accent-color);
  background-image: var(--gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  padding: 100px 0 100px 0;
  font-family: var(--PressStart2P), fantasy;
}

.block-width {
  width: var(--block-width);
  outline: 2px solid var(--accent-color);
  background-color: rgba(255, 255, 255, 1);
}

.header_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: clamp(122px, 119.183px + 0.7512vw, 130px);
  padding-inline: clamp(16px, -21.5px + 10vw, 122.5px);
}

.header_title {
  font-size: clamp(49px, 43.3664px + 1.5023vw, 65px);
  margin-block-end: 20px;
}

.header_text {
  font-size: clamp(14px, 10.831px + 0.84507vw, 23px);
  text-transform: uppercase;
}

.header_text span {
  text-transform: none;
}

.card_item {
  margin-block-end: 50px;
}

.card_item-title {
  display: flex;
  flex-direction: column;
  font-variation-settings: "wght" var(--bold);
  font-size: 18px;
  padding: 6px 12px;
}

.card_image {
  position: relative;
  border: 2px solid var(--accent-color);
}

.image {
  display: block;
  width: 100%;
  height: clamp(371px, 256.5635px + 30.5164vw, 696px);
  object-fit: cover;
}

.label {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 27px;
  font-family: var(--PressStart2P), fantasy;
  font-size: 14px;
  opacity: 69%;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--outline-color),
    0 1px var(--outline-color),
    1px 0 var(--outline-color),
    0 -1px var(--outline-color);
}

@supports (
  (text-stroke: 1px var(--outline-color)) or
    (-webkit-text-stroke: 1px var(--outline-color))
) {
  .label {
    -webkit-text-stroke: 1px var(--outline-color);
    text-stroke: 1px var(--outline-color);
    text-shadow: none;
  }
}

.card_text {
  font-size: 18px;
  line-height: 24px;
  padding: 25px 25px 0 25px;
}

.card_text-item {
  margin-bottom: 22px;
}

.card-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 25px 0;
  gap: 7px;
}

.card__icon-button {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__like-button {
  padding: 12.5px 37px;
  border: 2px solid var(--accent-color);
  width: 130px;
  height: 38px;
}

.image-grayscale {
  filter: grayscale(0.7);
}

.image-brightness {
  filter: brightness(1) contrast(120%);
}

.image-hue-rotate {
  filter: hue-rotate(30deg);
}

.image-invert {
  filter: invert(10%) brightness(1.5);
}

.image-sepia {
  filter: sepia(100%);
}

.image-blur {
  filter: blur(5px);
}

.image-saturate {
  filter: saturate(120%);
}

.save {
  display: flex;
  justify-content: center;
}

.memory {
  width: clamp(306px, 295.789px + 2.723vw, 335px);
  background-color: rgba(255, 255, 255, 1);
  margin: 0 34.5px 100px 34.5px;
  border: 2px solid var(--accent-color);
}

.memory_button {
  flex-direction: column;
  padding: 12px 17px;
  white-space: nowrap;
  gap: 8px;
  border: transparent;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--outline-color);
  font-size: 14px;
  font-family: var(--PressStart2P), fantasy;
  line-height: 90%;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.dialog[open] {
  width: clamp(341px, 336.775px + 1.1268vw, 353px);
  padding: 30px 40px;
}

.dialog_icon-text {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-block-end: 30px;
}

.dialog_title {
  font-size: 14px;
  font-family: var(--PressStart2P), fantasy;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 400;
}

.dialog_icon-text svg {
  min-width: 39px;
}

.dialog_button {
  min-width: 261px;
  padding: 12.5px 0;
  border: 2px solid var(--accent-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.6);
}

.buttons:focus,
.card__icon-button:focus {
  outline: none;
}

.buttons:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.buttons::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.buttons:hover,
.card__icon-button:hover {
  cursor: pointer;
}

.buttons:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.memory_button svg {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

@media (min-width: 377px) {
  .page {
    padding-inline: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card_item-title {
    flex-direction: row;
    gap: 0.3rem;
  }

  .memory_button {
    flex-direction: row;
  }

  .memory_button svg {
    width: 21px;
  }
}
